body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images{
    position: relative;
    left: 60px;
    top: 10px;
}

.option{
    padding-top: 30px;
}
.but , .pro{
    margin-right:10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 20px;

}
.searchbar{
    width: 300px;
    height: 30px;
    position: relative;
    top: 30px;
}
.profile{
    padding-top: 20px;
    margin-right: 20px
}
.middle{
    background-color: antiquewhite;
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    justify-content:center;

}
.card{
    background-color: rgb(38, 109, 38);
    color:white;
}